html, body {
    font-family: "Space Grotesk", sans-serif;
}
.btn, h1 {
    font-family: "Geo", sans-serif;
}
.text-bg-purple {
    background-color: rgba(164, 13, 240);
    color: white;
}
.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    .popup {
        background-color: var(--bs-secondary-bg);
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 1px 0 var(--bs-tertiary-bg);
        border: 2px solid var(--bs-secondary-color);
        flex-basis: 50%;
        .popup-body {
            overflow-y: scroll;
            max-height: 60dvh;
        }
        .popup-footer {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-top: 1rem;
        }
    }
}
