:root {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #2B283A;
}
button {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: #FAFAF8;
}
header {
    font-family: "Playwrite HU", 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px #0000000F;
    box-shadow: 0px 1px 3px 0px #0000001A;
    font-size: 36px;
    gap: 1rem;
}
header .logo {
    height: 60px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.ingredient-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}
.ingredient-form input {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.ingredient-form button {
    padding: 0 1rem;
    background-color: #141413;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
}
.ingredient-form button:before {
    content: "+";
    margin-bottom: 2px;
}

h2 {
    margin: 0;
}

.ingredients-list {
    color: #475467;
    margin: 0;
}
.ingredients-list li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.remove-ingredient {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #D17557;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
.remove-ingredient:hover {
    background-color: #D17557;
    color: #fff;
}

.get-recipe-container {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 6px;
    padding: 2rem;
    align-items: center;
    gap: 1rem;
}
.get-recipe-container h3 {
    margin: 0;
    margin-bottom: 0.25rem;
}
.get-recipe-container p {
    margin: 0;
    color: #666;
    font-size: 90%;
}
.get-recipe-container button {
    padding: 0.5rem 1rem;
    background-color: #D17557;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.clear-ingredients {
    font-style: italic;
    color: #666;
    font-size: 80%;
    align-self: center;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
