:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
a, a:visited {
  color: #4ea1d3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h4 {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}
.content {
  text-align: left;
}
.content ul {
  background-color: rgb(40, 49, 53);
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
}
.desc {
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
  font-size: 90%;
}
.footer {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.4);
}
