.board {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    padding: 0 1rem;
    background-color: var(--bs-secondary-bg);
    border-radius: 0.5rem;
    z-index: 100;
    max-width: calc(100dvh * 16 / 9 - 120px);
    .board-grid {
        display: grid;
        flex-grow: 1;
    }
}
