.board {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    align-items: stretch;
    padding: 1rem;
    background-color: var(--bs-secondary-bg);
    border-radius: 1rem;
    z-index: 100;
    .board-grid {
        display: grid;
        flex-grow: 1;
    }
}
