.game {
    --cell-bg: var(--bs-tertiary-bg);
    --pipe-bg: #adb5bd;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 800px;
    align-self: center;
    width: 100%;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            border-bottom: 1px solid var(--bs-secondary-color);
        }
        .btn {
            font-size: 20px;
        }
    }
    .main {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .btn {
            font-size: 40px;
            text-transform: uppercase;
        }
        .gold {
            font-size: 40px;
        }
        .score-box {
            color: #fff;
            background: var(--bs-secondary-bg);
            text-shadow: 1px 1px 2px #000;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
        }
        .score-table th {
            font-weight: normal;
        }
        .score-table td {
            font-weight: bold;
            text-align: right;
            padding-left: 1rem;
        }
        .times-box {
            font-size: 24px;
            font-weight: bold;
            align-self: center;
        }
        .points-box {
            background-color: var(--bs-primary);
            border: 2px solid darken(var(--bs-primary), 10%);
        }
        .mult-box {
            background-color: var(--bs-danger);
            border: 2px solid darken(var(--bs-danger), 10%);
        }
    }
}
